.App {
  min-height: 100vh;
  background: linear-gradient(  115deg, #fdcd3b 60%, #ffed4b 30%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 15%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(130, 179, 252);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

